:root {
  --roxo: #331e4d;
  --roxo-claro: #802e99;
  --cinza: #b4b4b4;
  --preto: #222;
  --branco: #fff;
  --verde: #99faae;
  --font-family: "Pixelify Sans", sans-serif;
}

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background: var(--cinza);
}

/* HEADER */ /* HEADER */ /* HEADER */ /* HEADER */ /* HEADER */ /* HEADER */
header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(124, 67, 67, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.452); */
  color: var(--preto);
}

/* esconde o checkbox */
.toggle {
  display: none;
}

.menu-container {
  display: flex;
  align-items: center;
  overflow: hidden;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  cursor: pointer;
}

.logo img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.logo span {
  font-weight: bold;
  letter-spacing: 2px;
}

/* MENU */
.nav {
  display: flex;
  gap: 30px;
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: max-width 0.5s ease;
}

.nav a {
  text-decoration: none;
  color: var(--preto);
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 4px;
}

/* QUANDO CLICA NA LOGO */
#toggle-menu:checked ~ .menu-container .nav {
  max-width: 750px; /* controla o quanto expande */
}

/* HEADER */ /* HEADER */ /* HEADER */ /* HEADER */ /* HEADER */ /* HEADER */

/* HOME */ /* HOME */ /* HOME */ /* HOME */ /* HOME */ /* HOME */
.hero {
  background: var(--roxo);
  padding: 60px 80px;
}

.hero-content {
  display: flex;
  /*flex-direction: row;*/
  justify-content: space-between;
  align-items: center;
}

/* TEXTO */
.hero-text h1 {
  font-size: 150px;
  color: var(--branco);
  line-height: 1.1;
  letter-spacing: 6px;
  text-shadow: var(--roxo-claro) 5px 4px 8px;
}

.hero-h1 {
  text-align: left;
}

.role {
  font-size: 40px;
  text-align: center;
  color: var(--branco);
  margin: 20px 0 40px;
  text-shadow: var(--roxo-claro) 5px 4px 8px;
}

/* BOTÕES */
.hero-buttons {
  display: flex;
  gap: 20px;
}

.btn {
  background: var(--branco);
  color: var(--preto);
  padding: 10px 22px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 2px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease,
    transform 0.15s ease;
}

/* HOVER */
.btn:hover {
  transform: translateY(-3px);
  background-color: var(--roxo-claro);
  color: var(--branco);
}

/* IMAGEM */
.hero-image img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 16px;
  background: var(--branco);
  padding: 12px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* HOME */ /* HOME */ /* HOME */ /* HOME */ /* HOME */ /* HOME */

/* SOBRE */ /* SOBRE */ /* SOBRE */ /* SOBRE */ /* SOBRE */ /* SOBRE */
.about-section {
  background: var(--cinza);
  padding: 60px;
}

/* ESCONDE OS RADIOS */
.about-section input {
  display: none;
}

/* TABS */
.tabs {
  display: flex;
  border: 10px solid var(--roxo);
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 14px;
  background: var(--branco);
  cursor: pointer;
  font-size: 26px;
  transition: all 0.3s ease;
}

#tab-motivacoes {
  border-right: 10px solid var(--roxo);
  border-left: 10px solid var(--roxo);
}

/* HOVER */
.tab:hover {
  background: var(--roxo-claro);
  color: var(--branco);
  text-transform: uppercase;
}

/* TAB ATIVA */
#tab-sobre:checked ~ .tabs label[for="tab-sobre"],
#tab-motivacoes:checked ~ .tabs label[for="tab-motivacoes"],
#tab-skills:checked ~ .tabs label[for="tab-skills"] {
  background: var(--roxo-claro);
  color: var(--branco);
  text-transform: uppercase;
}

/* CONTEÚDO */
.tab-content {
  background: var(--branco);
  border: 10px solid var(--roxo);
  border-top: none;
  border-radius: 0 0 12px 12px;
  padding: 40px;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.15), inset 0 -4px 0 rgba(0, 0, 0, 0.05);
}

/* ESCONDE TODOS */
.content {
  display: none;
  align-items: center;
  gap: 40px;
}

/* MOSTRA O ATIVO */
#tab-sobre:checked ~ .tab-content .sobre,
#tab-motivacoes:checked ~ .tab-content .motivacoes,
#tab-skills:checked ~ .tab-content .skills {
  display: flex;
}

/* CARD AVATAR */
.card {
  background: var(--branco);
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.15);
}

.card img {
  width: 180px;
}

/* TEXTO */
.text h3 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
}

.pet-logo {
  display: flex;
  align-items: center;
  img {
    margin-inline: 20px;
  }
}

.text p,
.motiv-text {
  padding-left: 20px;
  font-size: 20px;
  line-height: 1.6;
}

/* PET */

/* CONTAINER CLICÁVEL */
.pet-toggle {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 120px;
  cursor: pointer;
  perspective: 800px;
}

/* IMAGENS */
.pet-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

/* FRENTE */
.front {
  transform: rotateY(0deg);
}

/* VERSO */
.back {
  transform: rotateY(180deg);
}

/* QUANDO CLICA */
#toggle-pet:checked + .pet-toggle .front {
  transform: rotateY(-180deg);
}

#toggle-pet:checked + .pet-toggle .back {
  transform: rotateY(0deg);
}

/* SKILLS */
.skills-list {
  padding-left: 20px;
  display: flex;
  gap: 90px;
  font-size: 24px;
  p {
    font-size: 30px;
  }
}

/* SOBRE */ /* SOBRE */ /* SOBRE */ /* SOBRE */ /* SOBRE */ /* SOBRE */

/* PORTFOLIO */ /* PORTIFOLIO */ /* PORTIFOLIO */ /* PORTIFOLIO */ /* PORTIFOLIO */ /* PORTIFOLIO */

.portfolio {
  text-align: center;
  background-color: var(--branco);
}

.portfolio-title {
  display: inline-block;
  margin-top: 60px;
  padding: 20px 200px;
  font-size: 60px;
  border-radius: 12px;
  margin-bottom: 60px;
  border: 10px solid var(--roxo);
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.15), inset 0 -4px 0 rgba(0, 0, 0, 0.05);
}

.projects {
  display: flex;
  justify-content: center;
  gap: 80px;
}

/* CARD BASE */
.project-card {
  width: 280px;
  height: 360px;
  perspective: 1000px;
  cursor: pointer;
  border: 10px solid var(--roxo);
  border-radius: 12px;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.15), inset 0 -4px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 80px;
}

.project-card input {
  display: none;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

/* FLIP */
.flip-toggle:checked + .card-inner {
  transform: rotateY(180deg);
}

/* FACES */
.card-face {
  position: absolute;
  inset: 0;
  background: var(--branco);
  border-radius: 16px;
  backface-visibility: hidden;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

.card-face img {
  flex: 1;
  width: 100%;
  margin-top: 0px;
  height: 100%;
  object-fit: cover;
}

.project-title {
  width: 100%;
  background: var(--cinza);
  padding: 16px 0;
  border-radius: 0 0 2px 2px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: var(--preto);
}

.card-front {
  margin-top: 20px;
}
/* VERSO */
.card-back {
  transform: rotateY(180deg);
}

/* MODALLLLLL */

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 2000;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-content {
  background: var(--branco);
  width: 90%;
  max-width: 900px;
  height: 80vh;
  border: 6px solid var(--roxo);
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.15);
}

.modal-content iframe {
  flex: 1;
  width: 100%;
  border-radius: 8px;
}

.close {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 32px;
  text-decoration: none;
  color: var(--roxo);
}

.close:hover {
  color: var(--roxo-claro);
}

/* PORTFOLIO */ /* PORTIFOLIO */ /* PORTIFOLIO */ /* PORTIFOLIO */ /* PORTIFOLIO */ /* PORTIFOLIO */
